<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписание</title>
    <link rel="stylesheet" href="../../../sass/raspisan/raspisan.css">
  </head>
  <body>
    <div class="schedule">
      <div class="header">
        <h1>Расписание</h1>
      </div>
      <div class="nav">
        <button class="active"> <a class="white" href="#">   Забронировано <span class="qoldiq">3</span></a></button>
        <button class="zapis"> <a class="transparent" href="#"> Запросы<span class="bir">1 </span></a></button>
        <button class="zapros"> <a class="solid" href="#">  Запрос окошка</a></button>
      </div>
    </div>
    <div class="data"> 
      <div class="data__segodniy"> 
        <h2>Пт, Сегодня</h2>
        <button class="data__btn"> <a class="style" href="#"> Сделать выходным </a></button>
      </div>
    </div>
  </body>
</html>