/* Error: Undefined variable.
 *   ,
 * 6 |     color: $white-clr;
 *   |            ^^^^^^^^^^
 *   '
 *   sass\all-blocks\Free\Free-QolganBolimlar\nastroyka\_profil.scss 6:12  @import
 *   sass\all-blocks\_all-blocks.scss 16:9                                 @import
 *   sass\main.scss 1:9                                                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 6 \2502      color: $white-clr;\d\a   \2502             ^^^^^^^^^^\a   \2575 \a   sass\\all-blocks\\Free\\Free-QolganBolimlar\\nastroyka\\_profil.scss 6:12  @import\a   sass\\all-blocks\\_all-blocks.scss 16:9                                 @import\a   sass\\main.scss 1:9                                                    root stylesheet";
}
