doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/sass/all-blocks/Редактирование E.A/Редактирование специализации и процедуры/11/style.css")
        title Document
    body 
        .containerEa    
            .title 
                h3 <
                h3 Процедура услуг
                img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/9/Trash.svg", alt="")
            main 
                .content1
                    .itemsinfo
                        p Ваша специализация
                        h2 Маникюрист, специалист по наращиванию ногтей
                    .itemstyle
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/9/Ellipse 25.svg", alt="")
                        h2 Мужская взрослая
                    .itemstyle.news
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/9/Ellipse 23.svg", alt="")
                        h2 Женская взрослая
                    .itemstyle
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/9/Ellipse 23.svg", alt="")
                        h2 Для мальчиков
                    .itemstyle
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/9/Ellipse 23.svg", alt="")
                        h2 Для девочек

                .content2
                    form 
                        label(for="name1") Услуга 
                        input(type="text" placeholder="Маникюр обычный" id="name1")
                    form 
                        label(for="name1") Цена 
                        input(type="text" placeholder="350 000 сум" id="name1")
                    form 
                        label(for="name1") Длительность (без учёта перерыва после процедуры) 
                        input(type="text" placeholder="1ч. - 15 мин." id="name1")
                    form 
                        label(for="name1") Описание 
                        input.innp(type="text" placeholder="В услугу входит мытьё головы, массаж головы и Разнообразный и богатый опыт постоянный ..." id="name1")
                footer 
                    button Сохранить
        article 
            img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/11/Trash.svg", alt="")    
            p Вы хотите удалить удалить процедуру?

            .btngroups
                button Отмена
                button Да

