body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Montserrat, sans-serif;
}
.containerEa{
    padding-top: 20px;
    padding-left: 20px;
    width: 375px;
    height: 672px;
    background-color: #21212E;

    .title{
        color: white;
        margin-top: 30px;
        font-size: 28px;
    }
    .user{
        display: flex;
        gap: 13px;
        color: white;
        .userdata{
            p{
                color: #828282;
                margin-top: -10px;
            }
        }
    }
    main{
        display: grid;
        padding-top: 10px;
        gap: 7px;
        .items{
            display: flex;
            align-items: center;
            width: 335px;
            background-color: #B9B9C9;
            height: 38px;
            border-radius: 14px;
            justify-content: space-between;
            padding: 0 10px;

            h2{
                font-size: 14px;
                margin-left: 10px;
            }
            .left{
                display: flex;
            }
        }
    }
    footer{
        padding-top: 50px;
    }
}