doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/sass/all-blocks/Редактирование E.A/Редактирование специализации и процедуры/3/style.css")
        title Document
    body 
        .containerEa    
            .title2
                h2 <
                h2 Мои услуги
            main.main2 
                .minititle
                    h2 Направление услуг по полу
                    img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/3/Edit.svg", alt="")
                .gender 
                    .human
                        .humancontainer 
                            img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/3/man.svg", alt="") 
                            .info 
                                h2 Мужское
                                p Взрослое, Детский

                    .human
                        .humancontainer 
                            img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/3/woman.svg", alt="") 
                            .info 
                                h2 Мужское
                                p Взрослое, Детский
                .minititle
                    h2 Категория услуг
                    img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/3/Edit.svg", alt="")
                .btntime Волосы
                .minititle(style="margin-top: 17px")
                    h2 Направление услуг по полу
                    img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/3/Edit.svg", alt="")
                .btnGroup 
                    .btns Парикмахер
                    .btns стилист
                    .btns барбер
                .minititle(style="margin-top: 17px")
                    h2 Процедуры услуг
                    img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/3/Add_ring.svg", alt="")
                .cardGroup 
                    .cards 
                        h3 Женская для взрослых       
                        button Стрижка, укладка
                        h2 350 000 сум
                        p В услугу входит мытьё головы, массаж головы и  Разнообразный и богатый опыт постоянный
                    .cards 
                        h3 Женская для взрослых       
                        button Стрижка, укладка, окрашивание
                        h2 500 000 сум
                        p В услугу входит мытьё головы, массаж головы и  Разнообразный и богатый опыт постоянный
                    

