doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../../../../css/main.css")
        title Добавить фотографию3
    body.bdy 
        div.kod 
            p Установить ПИН код
        main 
            div.imgs 
                img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Frame 6841.svg", alt="")
                img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Frame 6841.svg", alt="")
                img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Frame 6841.svg", alt="")
                img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Frame 6841.svg", alt="")
            div 
                p Введите действующий ПИН код
            div.prodaljit-btn 
                button Продолжить
        footer.footer-btns
            hr
            div.btns-grid 
                button 1
                button 2
                button 3
                button 4
                button 5
                button 6
                button 7
                button 8
                button 9
                button *
                button 0
                div.btn-flex 
                    button #
                    button.img-btn
                        img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Group (1).svg", alt="")