doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../../../../css/main.css")
        title Document
    body 
        nav.nastroyka 
            img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow (1).svg", alt="")
            p.nastroyka-text Настройки
        div.settings
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Group_add.svg", alt="User logo svg")
                    p Подписка
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Wallet_alt.svg", alt="User logo svg")
                    p История сеансов
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Info.svg", alt="User logo svg")
                    p Справка
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Bell.svg", alt="User logo svg")
                    p Уведомления
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Credit card.svg", alt="User logo svg")
                    p Расходы
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Group_add.svg", alt="User logo svg")
                    p Подписка
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Group_add.svg", alt="User logo svg")
                    p Подписка
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Group_add.svg", alt="User logo svg")
                    p Подписка
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")