doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../../../../css/main.css")
        title Document
    body 
        nav 
            h1.top Профиль
        div.hero 
            div.user-photo
                img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Rectangle 5.svg", alt="User Image")
            div.user-info
                p.user-name Гузаль Шерматова
                p.user-number +998 93 123-45-67
        div.settings
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Group_add.svg", alt="User logo svg")
                    p Подписка
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Wallet_alt.svg", alt="User logo svg")
                    p История сеансов
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Info.svg", alt="User logo svg")
                    p Справка
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Bell.svg", alt="User logo svg")
                    p Уведомления
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Credit card.svg", alt="User logo svg")
                    p Расходы
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/globe.svg", alt="User logo svg")
                    p Веб страница
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Setting_line.svg", alt="User logo svg")
                    p Настройки
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Group.svg", alt="User logo svg")
                    p Клиенты
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
            .tag 
                div.logos 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Sign_out_circle.svg", alt="User logo svg")
                    p Выйти
                div.arrow 
                    img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Arrow.svg", alt="arrow logo")
        footer 
            div.footer
                .footer-item 
                    div 
                        img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Главная.svg", alt="footer buttons") 
                    div 
                        img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Услуги.svg", alt="footer buttons") 
                    div 
                        img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Мастера.svg", alt="footer buttons") 
                    div 
                        img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Чат.svg", alt="footer buttons") 
                    div 
                        img(src="../../../../../assets/images/free-qolgan bulimlar/nastroyka/Профиль.svg", alt="footer buttons") 