.content-btn{
    background: inherit;
    color:#828282;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid #828282;
}
.main-btn {
    display: flex;
    gap: 25px;
    margin: 15px 0;
    .content-btn-1{
        padding: 8px 20px;
        border-radius: 8px;
        border: 1px solid #828282;
        background: #B9B9C9;
        color: #000;
    }
}

.footer-item {
    .bolt{
        font-size: 18px;
        margin: 10px 0;
    }
    .footer-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: 10px;
        .footer-flex__btn{
            background: #fff;
            color: #4F4F4F;
            padding: 8px 16px;
            border-radius: 10px;
            border: none;
            margin: 5px 0;
            font-size: 18px;
        }
        .footer-flex__btn-1{
            background: #9C0A35;
            color: #fff;
            padding: 8px 16px;
            border-radius: 10px;
            border: none;
            margin: 5px 0;
            font-size: 18px;
        }

    }
    .footer-item__btn{
        width: 100%;
        background: #828282;
        color: #fff;
        padding: 8px 20px;
        border-radius: 10px;
        border: none;
        margin: 10px 0;
        font-size: 18px;
    }
    .footer-item__btn-1{
        width: 100%;
        background: #9C0A35;
        color: #fff;
        padding: 8px 20px;
        border-radius: 10px;
        border: none;
        margin: 10px 0;
        font-size: 18px;
    }
}


.main-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #B9B9C9;
    color: #000;
    padding: 15px 20px;
    border-radius: 10px;
    .main-element__item {
        b{
            font-size: 17px;
        }
        p{
            color: #4F4F4F;
            margin: 5px 0;
            font-size: 14px;
        }
    }
    .main-element__item-1 {
        b{
            color: #9C0A35;
        }
    }
}
.main-sum {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #B9B9C9;
    color: #000;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 20px 0;
    .main-bolt{
        color: #9C0A35;
    }
    .main-sum__btn{
        background: inherit;
        color: #9C0A35;
        padding: 8px 20px;
        border-radius: 10px;
        border: 1px solid #9C0A35;
        margin: 5px 0;
    }
    .main-sum__btn-1{
        background: inherit;
        color: #217355;
        padding: 8px 20px;
        border-radius: 10px;
        border: 1px solid #217355;
        margin: 5px 0;
    }
}