.content-btn{
    background: inherit;
    color:$gray-2-clr;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid $gray-2-clr;
}
.main-btn {
    display: flex;
    gap: 25px;
    margin: 15px 0;
    .content-btn-1{
        padding: 8px 20px;
        border-radius: 8px;
        border: 1px solid $gray-2-clr;
        background: $gray-clr;
        color: $black-clr;
    }
}

.footer-item {
    .bolt{
        font-size: 18px;
        margin: 10px 0;
    }
    .footer-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: 10px;
        .footer-flex__btn{
            background: $white-clr;
            color: $gray-3-clr;
            padding: 8px 16px;
            border-radius: 10px;
            border: none;
            margin: 5px 0;
            font-size: 18px;
        }
        .footer-flex__btn-1{
            background: $red-clr;
            color: $white-clr;
            padding: 8px 16px;
            border-radius: 10px;
            border: none;
            margin: 5px 0;
            font-size: 18px;
        }

    }
    .footer-item__btn{
        width: 100%;
        background: $gray-2-clr;
        color: $white-clr;
        padding: 8px 20px;
        border-radius: 10px;
        border: none;
        margin: 10px 0;
        font-size: 18px;
    }
    .footer-item__btn-1{
        width: 100%;
        background: $red-clr;
        color: $white-clr;
        padding: 8px 20px;
        border-radius: 10px;
        border: none;
        margin: 10px 0;
        font-size: 18px;
    }
}


.main-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $gray-clr;
    color: $black-clr;
    padding: 15px 20px;
    border-radius: 10px;
    .main-element__item {
        b{
            font-size: 17px;
        }
        p{
            color: $gray-3-clr;
            margin: 5px 0;
            font-size: 14px;
        }
    }
    .main-element__item-1 {
        b{
            color: $red-clr;
            font-size: 17px;
        }
    }
}
.main-sum {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $gray-clr;
    color: $black-clr;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 20px 0;
    .main-bolt{
        color: $red-clr;
    }
    .main-sum__btn{
        background: inherit;
        color: $red-clr;
        padding: 8px 20px;
        border-radius: 10px;
        border: 1px solid $red-clr;
        margin: 5px 0;
    }
    .main-sum__btn-1{
        background: inherit;
        color: #217355;
        padding: 8px 20px;
        border-radius: 10px;
        border: 1px solid #217355;
        margin: 5px 0;
    }
}

.card{
    filter: brightness(.50);
}
.article {
    width: 335px;
    height: max-content;
    background-color: #21212E;
    border-radius: 20px;
    color: $white-clr;
    text-align: center;
    position: absolute;
    top: 230px;
    p {
        font-size: 12px;
        font-weight: 400;
    }

    img {
        margin: 20px auto 0 auto;
    }

    button {
        width: 90%;
        height: 42px;
        border-radius: 10px;
        border: none;
        font-size: 17px;
        font-weight: 700;
        background-color: $red-clr;
        color: $white-clr;
        margin: 20px 0;
    }
}

