.btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 20px;
    background: $red-clr;
    color: $white-clr;
    margin: 20px 0;
    position: relative;
    right: 18px;
    border-radius: 8px;
    border: none;
}