@import "../1/style.scss";


.containerEa{
    .title2{
        display: flex;
        align-items: center;
        color: white;
        h2:nth-child(2){
            margin: 0 auto;
            font-size: 18px;
        }
    }

    .foott{
        position: relative;
        display: grid;
        gap: 8px;
        margin-top: 70%;
        button{
            width: 95%;
            height: 44px;
            border-radius: 7px;
            border: none;
            font-size: 14px;
            font-weight: bold;
        }

        button:nth-child(1){
            color: #9C0A35;
        }
        button:nth-child(2){
            color: white;
            background-color: #828282;
        }
        .bthth{
            background-color: #9C0A35 !important;
        }
        
    }
}