doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/sass/all-blocks/Редактирование E.A/Редактирование специализации и процедуры/2/style.css")
        title Document
    body 
        .containerEa    
            .title2
                h2 <
                h2 Настройки

            main 
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/2/Img_box.svg" alt="")            
                        h2 Галерея
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/2/Done_ring_round.svg" alt="")            
                        h2 Услуги
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/2/Component 25.svg" alt="")            
                        h2 Место работы
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/2/Calendar_add.svg" alt="")            
                        h2 Расписание работы
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/2/Calendar_add.svg" alt="")            
                        h2 Онлайн бронирование
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/2/Bell.svg" alt="")            
                        h2 Настройки уведомлений
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/1/Setting_line.svg" alt="")            
                        h2 Настройки приложения
                    .right 
                        h2 >  
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/2/User.svg" alt="")            
                        h2 Личные данные
                    .right >


