doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../../css/pugstyle.css")
        link(rel="stylesheet", href="../../../css/1line/9/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer")
        title Сохраненная страница услуг
    body 
        .card 
            header
                nav 
                    i(class="fa-solid fa-angle-left" style="color: #ffffff;")
                    h3 Мои услуги

            main 
                span.title
                    h4 Направление услуг по полу
                    img(src="../../../images/mainimg/Edit.svg", alt="")
                .genders
                    .man-team
                        span.man
                            img(src="../../../images/logo/First-line/3pageimg/Ellipse 122.svg", alt="")
                            img(src="../../../images/logo/First-line/3pageimg/man.svg", alt="")                
                        h4 Мужское
                        p Взрослое, Детский
                    .woman-team
                        span.man
                            img(src="../../../images/logo/First-line/3pageimg/Ellipse 122.svg", alt="")
                            img(src="../../../images/logo/First-line/3pageimg/woman.svg", alt="")                
                        h4 Женское
                        p Взрослое, Детский

                span.title
                    h4 Категория услуг
                    img(src="../../../images/mainimg/Edit.svg", alt="")
                button.btn Ногтевой сервис
                span.title
                    h4 Категория услуг
                    img(src="../../../images/mainimg/Edit.svg", alt="")
                .btn-group 
                    button Парикмахер
                    button Парикмахер 
                    button барбер
                span.title
                    h4 Процедуры услуг
                    img(src="../../../images/mainimg/Add_ring.svg", alt="")
                .info-time 
                    .info
                        h3 Мужская взрослая
                        button Стрижка, укладка
                        h2 350 000 сум
                        p В услугу входит мытьё головы, массаж головы и<br> Разнообразный и богатый опыт постоянный
                    
