.nav-f{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
    .butto-1{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 15px;
        // background: $red-clr;
        background: #9C0A35;
        // color: $white-clr;
        color: #fff;
        border-radius: 8px;
        border: none;
    }
    .butto-2{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 15px;
        // background: $red-clr;
        background: inherit;
        // color: $white-clr;
        color: #828282;
        border-radius: 8px;
        border: none;
        border: 1px solid #828282;
    }
}
.vremya-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 10px 0;
    p{
        margin: 0;
    }
}
.images-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
