doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/sass/all-blocks/Редактирование E.A/Редактирование специализации и процедуры/2/style.css")
        title 
    body 
        .containerEa    
            .title2
                h2 <
                h2 Настройки

            main 
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/4/check.svg", alt="")
                        h2 Парикмахер
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/4/check.svg", alt="")
                        h2 Стилист
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/4/check (1).svg", alt="")
                        h2 наращиванию волосяных прядей 
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/4/check.svg", alt="")
                        h2 Барбер
                    .right 
                        h2 >
            footer.foott
                button Другое
                button.bthth Сохранить