body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Montserrat, sans-serif;
}

.containerEa {
  padding-top: 20px;
  padding-left: 20px;
  width: 375px;
  height: 672px;
  background-color: #21212E;
}
.containerEa .title {
  color: white;
  margin-top: 30px;
  font-size: 28px;
}
.containerEa .user {
  display: flex;
  gap: 13px;
  color: white;
}
.containerEa .user .userdata p {
  color: #828282;
  margin-top: -10px;
}
.containerEa main {
  display: grid;
  padding-top: 10px;
  gap: 7px;
}
.containerEa main .items {
  display: flex;
  align-items: center;
  width: 335px;
  background-color: #B9B9C9;
  height: 38px;
  border-radius: 14px;
  justify-content: space-between;
  padding: 0 10px;
}
.containerEa main .items h2 {
  font-size: 14px;
  margin-left: 10px;
}
.containerEa main .items .left {
  display: flex;
}
.containerEa footer {
  padding-top: 50px;
}

.containerEa .title2 {
  display: flex;
  align-items: center;
  color: white;
}
.containerEa .title2 h2:nth-child(2) {
  margin: 0 auto;
  font-size: 18px;
}
.containerEa .foott {
  position: relative;
  display: grid;
  gap: 8px;
  margin-top: 70%;
}
.containerEa .foott button {
  width: 95%;
  height: 44px;
  border-radius: 7px;
  border: none;
  font-size: 14px;
  font-weight: bold;
}
.containerEa .foott button:nth-child(1) {
  color: #9C0A35;
}
.containerEa .foott button:nth-child(2) {
  color: white;
  background-color: #828282;
}
.containerEa .foott .bthth {
  background-color: #9C0A35 !important;
}

.containerEa {
  height: 90%;
  overflow: auto;
  padding-bottom: 20px;
}
.containerEa::-webkit-scrollbar {
  width: 4px;
}
.containerEa::-webkit-scrollbar-track {
  background: #4b4b64;
  border-radius: 17px;
}
.containerEa::-webkit-scrollbar-thumb {
  background: #B9B9C9;
  border-radius: 17px;
}
.containerEa .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.containerEa .title h3 {
  font-size: 18px;
}
.containerEa .title img {
  transform: translateX(-10px);
}
.containerEa main .content1 {
  display: grid;
  gap: 7px;
}
.containerEa main .content1 .itemsinfo {
  background-color: #B9B9C9;
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 16px;
}
.containerEa main .content1 .itemsinfo p {
  font-size: 12px;
  color: #4F4F4F;
}
.containerEa main .content1 .itemsinfo h2 {
  font-size: 14px;
}
.containerEa main .content1 .itemstyle {
  background-color: #B9B9C9;
  width: 91%;
  border-radius: 16px;
  align-items: center;
  display: flex;
  gap: 13px;
  font-size: 12px;
  padding-left: 15px;
}
.containerEa main .content1 .news {
  gap: 18px;
}
.containerEa main .content2 form {
  display: grid;
}
.containerEa main .content2 form label {
  font-size: 13px;
  color: #828282;
  margin: 10px 0 10px 0;
}
.containerEa main .content2 form input {
  background-color: #4B4B64;
  padding: 16px 0;
  border: none;
  width: 91%;
  font-size: 16px;
  border-radius: 16px;
  padding-left: 15px;
}
.containerEa main .content2 form .innp {
  padding-bottom: 70px;
}
.containerEa footer {
  display: flex;
  justify-content: center;
}
.containerEa footer button {
  height: 42px;
  width: 350px;
  background-color: #828282;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  margin-left: -18px;
}

footer button {
  background-color: #9C0A35 !important;
}

.containerEa {
  filter: brightness(0.45);
}

article {
  width: 335px;
  height: 230px;
  background-color: #21212E;
  border-radius: 20px;
  color: white;
  display: grid;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  position: absolute;
}
article p {
  font-size: 12px;
  font-weight: 400;
}
article img {
  margin: 20px auto 0 auto;
}
article button {
  width: 145px;
  height: 42px;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  font-weight: 700;
}
article button:nth-child(1) {
  color: #9C0A35;
}
article button:nth-child(2) {
  background-color: #9C0A35;
  color: white;
}/*# sourceMappingURL=style.css.map */