@import "../10/style.scss";

.containerEa{
    filter: brightness(.45);
}


article {
    width: 335px;
    height: 230px;
    background-color: #21212E;
    border-radius: 20px;
    color: white;
    display: grid;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    position: absolute;

    p {
        font-size: 12px;
        font-weight: 400;
    }

    img {
        margin: 20px auto 0 auto;
    }

    button {
        width: 145px;
        height: 42px;
        border-radius: 10px;
        border: none;
        font-size: 17px;
        font-weight: 700;
        &:nth-child(1){
            color: #9C0A35;
        }
        &:nth-child(2){
            background-color: #9C0A35;
            color: white;
        }
    }
}