@import "../2/style.scss";

.containerEa {
    height: 90%;
    overflow: auto;
    padding-bottom: 20px;


    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #4b4b64;
        border-radius: 17px;
    }

    &::-webkit-scrollbar-thumb {
        background: #B9B9C9;
        border-radius: 17px;

    }


    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        h3 {
            font-size: 18px;
        }

        img {
            transform: translateX(-10px);
        }
    }

    main {
        .content1 {
            display: grid;
            gap: 7px;

            .itemsinfo {
                background-color: #B9B9C9;
                width: 90%;
                padding: 10px;
                border: none;
                border-radius: 16px;

                p {
                    font-size: 12px;
                    color: #4F4F4F;
                }

                h2 {
                    font-size: 14px;
                }
            }

            .itemstyle {
                background-color: #B9B9C9;
                width: 91%;
                border-radius: 16px;
                align-items: center;
                display: flex;
                gap: 13px;
                font-size: 12px;
                padding-left: 15px;
            }

            .news {
                gap: 18px;
            }
        }

        .content2 {
            form {
                display: grid;

                label {
                    font-size: 13px;
                    color: #828282;
                    margin: 10px 0 10px 0;
                }

                input {
                    background-color: #4B4B64;
                    padding: 16px 0;
                    border: none;
                    width: 91%;
                    font-size: 16px;
                    border-radius: 16px;
                    padding-left: 15px;
                }

                .innp {
                    padding-bottom: 70px;
                }
            }
        }
    }
}