<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../sass/firnince/index1.css">
    <title>Document</title>
  </head>
  <body> 
    <header class="header"> 
      <div class="container header__container"> </div>
    </header>
    <main>
      <section class="section__one">
        <div class="hero"> 
          <h1>Финансы</h1>
        </div>
      </section>
      <section class="section__two"> 
        <div class="buttons"> 
          <button class="bttn"> <a href="#"> По дням</a></button>
          <button class="btn"> <a href="#"> По периоду</a></button>
          <button class="btn"> <a href="#"> ТОП клинеты</a></button>
        </div>
      </section>
      <section class="section__three"> 
        <div class="wrapper">
          <div class="input__span">
            <p class="wrapper__p">20.03.2024</p>
            <p><a class="calendar-icon" href="#" aria-label="Toggle Calendar">📆</a><img class="calendar-image" src="../../../assets/images/finance/cal.png" alt="Calendar Image"></p>
          </div>
          <div class="input__label">
            <h4>Фактический доход</h4>
            <h4 class="input__label-h4">750 000 сум </h4>
          </div>
        </div>
      </section>
      <section class="section__four">
        <div class="wrapper__one"> 
          <div class="span__input"> 
            <h4>Доходы за март</h4>
          </div>
          <div class="label__input"> 
            <p class="label__input__p">Плановый Доход:</p>
            <h4>3 500 000 сум</h4>
          </div>
          <div class="rabochi"> 
            <p class="rabochi__p">Рабочие часы:</p>
            <h4>10</h4>
          </div>
          <div class="seansov"> 
            <p class="seansov__p">Сеансов выполнено</p>
            <h4>4</h4>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer"> 
      <div class="footer__menu"> <a href="#"><img src="../../../assets/images/finance/glavnya.svg" alt="image"></a><a href="#"><img class="uslug__img" src="../../../assets/images/finance/uslug.svg" alt="image"></a><a href="#"><img class="financ__img" src="../../../assets/images/finance/finance.svg" alt="image"></a><a href="#"><img src="../../../assets/images/finance/chat.svg" alt="image"></a><a href="#"><img src="../../../assets/images/finance/profil.svg" alt="image"></a></div>
    </footer>
  </body>
</html>