<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../sass/firnince/index5.css">
    <title>Document</title>
  </head>
  <body> 
    <div class="container">
      <header>
        <h1>Финансы</h1>
      </header>
      <nav>
        <button class="po">По дням</button>
        <button class="active">По периоду</button>
        <button>ТОП клиенты</button>
      </nav>
      <div class="profit-period">
        <h2>Прибыль за период</h2>
        <div class="date-input">
          <input type="text" placeholder="С этого дня"><span class="icon"><img src="../../../assets/images/finance/date.svg" alt="calendar icon"></span>
        </div>
        <div class="date-input">
          <input type="text" placeholder="по сей день"><span class="icon"><img src="../../../assets/images/finance/date.svg" alt="calendar icon"></span>
        </div>
        <button>Рассчитать</button>
      </div>
      <div class="months-summary">
        <h3>По месяцам</h3>
        <div class="month-summary">
          <div class="month__summary-work"> 
            <div class="month__summary-h4"> 
              <h4>Март</h4>
              <h4>3 500 000 сум</h4>
            </div>
            <div class="month__summary-date"> 
              <p>01.03.2024 - 20.03.2024:</p>
            </div>
            <div class="month__summary-doxod"> 
              <p>Доход:</p>
              <h5>4 500 000 сум </h5>
            </div>
            <div class="month__summary-rasxod">
              <p>Расход:</p>
              <h5>1 000 000 сум</h5>
            </div>
            <div class="month__summary-rabotchi">
              <p>Рабочие часы:</p>
              <h5>72 </h5>
            </div>
            <div class="month__summary-seansov">
              <p>Сеансов выполнено:</p>
              <h5>36                        </h5>
            </div>
          </div>
        </div>
        <div class="month-summary">
          <div class="month__summary-work">
            <div class="month__summary-h4"> 
              <h4>Февраль</h4>
              <h4>3 500 000 сум</h4>
            </div>
            <div class="month__summary-date"> 
              <p>01.03.2024 - 20.03.2024:</p>
            </div>
            <div class="month__summary-doxod"> 
              <p>Доход:</p>
              <h5>4 500 000 сум </h5>
            </div>
            <div class="month__summary-rasxod">
              <p>Расход:</p>
              <h5>1 000 000 сум</h5>
            </div>
            <div class="month__summary-rabotchi">
              <p>Рабочие часы:</p>
              <h5>72 </h5>
            </div>
            <div class="month__summary-seansov">
              <p>Сеансов выполнено:</p>
              <h5>36</h5>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer"> 
        <div class="footer__menu"> <a href="#"><img src="../../../assets/images/finance/glavnya.svg" alt="image"></a><a href="#"><img class="uslug__img" src="../../../assets/images/finance/uslug.svg" alt="image"></a><a href="#"><img class="financ__img" src="../../../assets/images/finance/finance.svg" alt="image"></a><a href="#"><img src="../../../assets/images/finance/chat.svg" alt="image"></a><a href="#"><img src="../../../assets/images/finance/profil.svg" alt="image"></a></div>
      </footer>
    </div>
  </body>
</html>