<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../sass/firnince/index7.css">
    <title>Document</title>
  </head>
  <body> 
    <div class="container">
      <header>
        <h1>Финансы</h1>
      </header>
      <nav>
        <button class="po">По дням</button>
        <button class="active">По периоду</button>
        <button>ТОП клиенты</button>
      </nav>
      <div class="profit-period">
        <h2>Прибыль за период</h2>
        <div class="date-input">
          <input type="text" placeholder="С этого дня"><span class="icon"><img src="../../../assets/images/finance/date.svg" alt="calendar icon"></span>
        </div>
        <div class="date-input">
          <input type="text" placeholder="по сей день"><span class="icon"><img src="../../../assets/images/finance/date.svg" alt="calendar icon"></span>
        </div>
        <button>Рассчитать</button>
      </div>
      <div class="months-summary">
        <h3>По месяцам</h3>
      </div>
    </div>
  </body>
</html>