doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/sass/all-blocks/Редактирование E.A/Редактирование специализации и процедуры/1/style.css")
        title Document
    body 
        .containerEa    
            h1.title Профиль

            .user 
                img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/1/Rectangle 5.svg", alt="")
                .userdata 
                    h2 Гузаль Шерматова
                    p +998 93 123-45-67

            main 
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/1/Group_add.svg", alt="")            
                        h2 Подписка
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/1/Wallet_alt.svg", alt="")            
                        h2 История сеансов
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/1/Info.svg", alt="")            
                        h2 Справка
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/1/Bell.svg", alt="")            
                        h2 Уведомления
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/1/globe.svg", alt="")            
                        h2 Веб страница
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/1/Setting_line.svg", alt="")            
                        h2 Настройки
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/1/Group.svg", alt="")            
                        h2 Клиенты
                    .right 
                        h2 >
                .items  
                    .left 
                        img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/1/Sign_out_circle.svg", alt="")            
                        h2 Выйти
                    .right 
                        h2 >

            footer
                img(src="/assets/images/Редактирование E.A/Редактирование специализации и процедуры/1/Tab-bar1.svg", alt="")
            




