doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(rel="stylesheet", href="../../../css/pugstyle.css")
        link(rel="stylesheet", href="../../../css/1line/10/style.css")
        title Eshkhuvvatoffa
    body 
        .card 
            header
                nav 
                    i(class="fa-solid fa-angle-left" style="color: #ffffff;")
                    h3 Процедура услуг
                    i(class="fa-regular fa-trash-can")
            main 
                .block  
                    p Ваша специализация
                    h3 Маникюрист, специалист по наращиванию ногтей
                
                .infoinput 
                    img(src="../../../images/logo/First-line/9,10,11pageimg/Ellipse 26.svg", alt="")
                    h3 Мужская взрослая
                .infoinput 
                    .imgs
                        img(src="../../../images/logo/First-line/9,10,11pageimg/Ellipse 25.svg", alt="")
                        img(src="../../../images/logo/First-line/9,10,11pageimg/Ellipse 2.svg", alt="")
                    h3 Мужская взрослая
                .infoinput 
                    img(src="../../../images/logo/First-line/9,10,11pageimg/Ellipse 26.svg", alt="")
                    h3 Мужская взрослая
                .infoinput 
                    img(src="../../../images/logo/First-line/9,10,11pageimg/Ellipse 26.svg", alt="")
                    h3 Мужская взрослая

                .datainput 
                    label(for="first") Услуга 
                    input(type="text" id="first" placeholder="Стрижка, укладка, окрашивание")
                .datainput 
                    label(for="first") Цена 
                    input(type="text" id="first" placeholder="350 000 сум")
                .datainput 
                    label(for="first") Длительность (без учёта перерыва после процедуры)
                    input(type="text" id="first" placeholder="1ч. - 15 мин.")
                .datainput 
                    label(for="first") Описание 
                    button В услугу входит мытьё головы, массаж <br>головы и Разнообразный и богатый<br> опыт постоянный ...
            footer
                button Сохранить

        .modal
            img(src="../../../images/logo/First-line/9,10,11pageimg/BigTrash.svg", alt="")
            p Вы хотите удалить удалить процедуру?
            .btngroup 
                button Отмена
                button Да
        