<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!--! Style-->
    <link rel="stylesheet" href="../../../../kartochka-zapisey/profile.css">
    <!--! Montserrat Font Family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
  </head>
  <body> 
    <nav> 
      <h1 class="top">Профиль</h1>
    </nav>
    <div class="hero"> 
      <div class="user-photo"><img src="../../../../images/Rectangle 5.svg" alt="User Image"></div>
      <div class="user-info">
        <p class="user-name">Гузаль Шерматова</p>
        <p class="user-number">+998 93 123-45-67</p>
      </div>
      <div class="settings">
        <div class="tag"> </div>
        <div class="tag"> </div>
        <div class="tag"> </div>
        <div class="tag"> </div>
        <div class="tag"> </div>
        <div class="tag"> </div>
        <div class="tag"> </div>
        <div class="tag"> </div>
        <div class="tag"> </div>
      </div>
    </div>
  </body>
</html>