.card header nav {
  display: flex;
  gap: 75px;
  font-size: 18px;
}
.card main {
  display: grid;
  gap: 10px;
  padding-top: 35px;
}
.card main .minicards {
  display: flex;
  background-color: #B9B9C9;
  color: black;
  width: 335px;
  height: 44px;
  border-radius: 14px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 14px;
}
.card main .minicards span {
  display: flex;
  gap: 7px;
  align-items: center;
}

footer {
  padding-top: 270px;
}
footer .footer-btn-group {
  display: grid;
  gap: 10px;
  padding-right: 20px;
}
footer .footer-btn-group button {
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  color: #9C0A35;
  width: 335px;
  height: 44px;
  border-radius: 14px;
  padding: 0 10px;
}
footer .footer-btn-group button:nth-child(2) {
  background-color: #828282;
  color: white;
}

.card header nav {
  display: flex;
  gap: 75px;
  font-size: 18px;
}
.card main {
  display: grid;
  gap: 10px;
  padding-top: 35px;
}
.card main .minicards {
  display: flex;
  background-color: #B9B9C9;
  color: black;
  width: 335px;
  height: 44px;
  border-radius: 14px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 14px;
}
.card main .minicards span {
  display: flex;
  gap: 7px;
  align-items: center;
}

footer {
  padding-top: 270px;
}
footer .footer-btn-group {
  display: grid;
  gap: 10px;
  padding-right: 20px;
}
footer .footer-btn-group button {
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  color: #9C0A35;
  width: 335px;
  height: 44px;
  border-radius: 14px;
  padding: 0 10px;
}
footer .footer-btn-group button:nth-child(2) {
  background-color: #828282;
  color: white;
}

footer button:nth-child(2) {
  background-color: #9C0A35 !important;
}

footer {
  margin-top: 180px !important;
}
footer button {
  background-color: #828282 !important;
  color: white !important;
  border: none;
}

footer {
  margin-top: 10px !important;
}
footer button {
  background-color: #828282 !important;
  color: white !important;
  border: none;
}

footer {
  margin-top: 10px !important;
}
footer button {
  background-color: #9C0A35 !important;
  color: white !important;
  border: none;
}

footer {
  margin-top: 110px !important;
}
footer button {
  background-color: #9C0A35 !important;
  color: white !important;
  border: none;
}
footer button:nth-child(1) {
  color: #9C0A35 !important;
  background-color: white !important;
}

.card header nav {
  display: flex;
  gap: 75px;
  font-size: 18px;
}
.card main {
  display: grid;
  gap: 10px;
  padding-top: 35px;
}
.card main .minicards {
  display: flex;
  background-color: #B9B9C9;
  color: black;
  width: 335px;
  height: 44px;
  border-radius: 14px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 14px;
}
.card main .minicards span {
  display: flex;
  gap: 7px;
  align-items: center;
}

footer {
  padding-top: 270px;
}
footer .footer-btn-group {
  display: grid;
  gap: 10px;
  padding-right: 20px;
}
footer .footer-btn-group button {
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  color: #9C0A35;
  width: 335px;
  height: 44px;
  border-radius: 14px;
  padding: 0 10px;
}
footer .footer-btn-group button:nth-child(2) {
  background-color: #828282;
  color: white;
}

footer button:nth-child(2) {
  background-color: #9C0A35 !important;
}

.card {
  filter: brightness(0.5);
}

.modal {
  position: absolute;
  background-color: #21212E;
  width: 335px;
  height: 286px;
  border-radius: 20px;
  color: white;
  justify-content: center;
  display: grid;
}
.modal h4 {
  font-size: 15px;
  text-align: center;
  padding-top: 15px;
}
.modal input {
  padding: 0 40px 40px 15px;
  width: 303px;
  outline: none;
  color: white;
  border: none;
  border-radius: 16px;
  background-color: #4B4B64;
  font-size: 15px;
}
.modal input::placeholder {
  color: #fff;
  transform: translateY(-10px);
}
.modal button {
  color: #9C0A35;
  font-weight: bolder;
  font-size: 14px;
  height: 42px;
  margin-top: 16px;
  border: none;
  border-radius: 10px;
}
.modal .btnu2 {
  color: white;
  background-color: #9C0A35 !important;
  margin-top: -10px;
}

/*# sourceMappingURL=style.css.map */
