doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../../sass/firnince/index1.css")
        title Document
    body 
        header.header 
            .container.header__container 
        main
            section.section__one
                .hero 
                    h1 Финансы
            section.section__two 
                .buttons 
                    button.bttn 
                        a(href="#")  По дням
                    button.btn 
                        a(href="#")  По периоду
                    button.btn 
                        a(href="#")  ТОП клинеты
            section.section__three 
                .wrapper
                    .input__span
                        p.wrapper__p 20.03.2024
                        p
                            a.calendar-icon(href="#" aria-label="Toggle Calendar") 📆
                            img.calendar-image(src="../../../assets/images/finance/cal.png", alt="Calendar Image")
                    .input__label
                        h4 Фактический доход
                        h4.input__label-h4 750 000 сум 
            section.section__four
                .wrapper__one 
                    .span__input 
                        h4 Доходы за март
                    .label__input 
                        p.label__input__p Плановый Доход:
                        h4 3 500 000 сум
                    .rabochi 
                        p.rabochi__p Рабочие часы:
                        h4 10
                    .seansov 
                        p.seansov__p Сеансов выполнено
                        h4 4
        footer.footer 
            .footer__menu 
                a(href="#")
                    img(src="../../../assets/images/finance/glavnya.svg", alt="image") 
                a(href="#")
                    img.uslug__img(src="../../../assets/images/finance/uslug.svg", alt="image") 
                a(href="#")
                    img.financ__img(src="../../../assets/images/finance/finance.svg", alt="image") 
                a(href="#")
                    img(src="../../../assets/images/finance/chat.svg", alt="image") 
                a(href="#")
                    img(src="../../../assets/images/finance/profil.svg", alt="image") 