doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../../css/pugstyle.css")
        link(rel="stylesheet", href="../../../css/1line/10/style.css")
        title Профиль
    body 
        //- uzim uchun container yaratdim
        .card 

            //-header start
            header 
                h1 Профиль
                article 
                    img(src="../../../images/img/First-line/1pageimg/Rectangle 5.svg", alt="")
                    span 
                        h3 Гузаль Шерматова
                        p +998 93 123-45-67

            //-header end


            //- main start
            main 
                .minicards 
                    span 
                        img(src="../../../images/logo/First-line/1pageimg/Group_add.svg", alt="")
                        h4 Подписка
                    img(src="../../../images/mainimg/Arrow.svg", alt="")
                .minicards 
                    span 
                        img(src="../../../images/logo/First-line/1pageimg/Wallet_alt.svg", alt="")
                        h4 История сеансов
                    img(src="../../../images/mainimg/Arrow.svg", alt="")
                .minicards 
                    span 
                        img(src="../../../images/logo/First-line/1pageimg/Info.svg", alt="")
                        h4 Справка
                    img(src="../../../images/mainimg/Arrow.svg", alt="")
                .minicards 
                    span 
                        img(src="../../../images/logo/First-line/1pageimg/Bell.svg", alt="")
                        h4 Уведомления
                    img(src="../../../images/mainimg/Arrow.svg", alt="")
                .minicards 
                    span 
                        img(src="../../../images/logo/First-line/1pageimg/globe.svg", alt="")
                        h4 Веб страница
                    img(src="../../../images/mainimg/Arrow.svg", alt="")
                .minicards 
                    span 
                        img(src="../../../images/logo/First-line/1pageimg/Setting_line.svg", alt="")
                        h4 Настройки
                    img(src="../../../images/mainimg/Arrow.svg", alt="")
                .minicards 
                    span 
                        img(src="../../../images/logo/First-line/1pageimg/Group.svg", alt="")
                        h4 Клиенты
                    img(src="../../../images/mainimg/Arrow.svg", alt="")
                .minicards 
                    span 
                        img(src="../../../images/logo/First-line/1pageimg/Sign_out_circle.svg", alt="")
                        h4 Выйти
                    img(src="../../../images/mainimg/Arrow.svg", alt="")
            //- main end
            

            //- footer start
            footer
                .tab-bar
                    img(src="/images/logo/First-line/tab-bar/Главная.svg", alt="")
                    img(src="/images/logo/First-line/tab-bar/Услуги.svg", alt="")
                    img(src="/images/logo/First-line/tab-bar/Чат.svg", alt="")
                    img(src="/images/logo/First-line/tab-bar/Профиль.svg", alt="")
            //- footer end
